.Contact {
  height: 100vh;
  background: url(./bg.svg) no-repeat center center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    font-size: 35px;
    font-weight: 700;
  }

  form {
    // background: #333;
    display: flex;
    flex-direction: column;
    width: 45vw;

    .name {
      display: flex;
      .mat-form-field {
        width: 48%;
        margin: 0 1%;
      }

      .mat-form-field:nth-child(1) {
        width: 48%;
        margin: 0 1% 0 0;
      }

      #second {
        width: 48%;
        margin: 0 0 0 1%;
      }
    }

    button {
      width: 20%;
      margin: 5vh auto 0;
      outline: none;
      border: none;
      background: #1de687;
      padding: 12px 5px;
      color: #fff;
      cursor: pointer;
    }
  }
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #169be0;
}

/* focused color */
::ng-deep
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick {
  color: #169be0;
}

/* floating label color */
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-label {
  color: #169be0;
}

@media screen and (max-width: 1290px) {
  .Contact {
    background-position: 20% center;

    form {
      button {
        width: 40%;
      }
    }
  }
}
@media screen and (max-width: 1025px) {
  .Contact {
    background: url(./ipad.svg) no-repeat center 1% / cover;
  }
}

@media screen and (max-width: 992px) {
  .Contact {
    background-position: 25% center;

    form {
      width: 60vw;
      button {
        width: 40%;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .Contact {
    background: url(./medium.svg) no-repeat center 1% / cover;

    form {
      .name {
        flex-direction: column;

        .mat-form-field {
          width: 100%;
          margin: 0 1%;
        }

        .mat-form-field:nth-child(1) {
          width: 100%;
          margin: 0;
        }

        #second {
          width: 100%;
          margin: 0;
        }
      }

      button {
        width: 60%;
        margin: 1vh auto 0;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .Contact {
    background: url(./mobile.svg) no-repeat center 1% / cover;
  }
}
@media screen and (max-width: 500px) {
  .Contact {
    background: url(./small.svg) no-repeat center 0% / cover;
  }
}
@media screen and (max-width: 400px) {
  .Contact {
    background: url(./xs.svg) no-repeat center 0% / cover;
  }
}

@media screen and (max-width: 1025px) and (orientation: landscape) {
  //IPAD
  .Contact {
    background: url(./ipad-landscape.svg) no-repeat center center / cover;
  }
}

@media screen and (max-width: 1023px) and (orientation: landscape) {
  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0 !important;
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.9em 0 0.9em 0;
  }

  ::ng-deep .mat-form-field-infix {
    border: none;
  }

  .Contact {
    form {
      margin-top: -7vh;
    }

    h1 {
      margin-top: -2vh;
      margin-bottom: 50px;
    }
  }
}

@media screen and (max-width: 700px) and (orientation: landscape) {
  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0 !important;
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.7em 0 0.7em 0;
  }

  ::ng-deep .mat-form-field-infix {
    border: none;
  }

  .Contact {
    form {
      margin-top: -7vh;
    }

    h1 {
      margin-top: -2vh;
      margin-bottom: 50px;
    }
  }
}
