<div class="Newsletter">
  <div
    class="newsLetterContainer"
    [ngStyle]="{ alignItems: submit ? 'center' : 'none' }"
  >
    <h2 [ngStyle]="{ display: submit ? 'none' : 'flex' }">
      {{ title | titlecase }}
    </h2>

    <div class="formContainer">
      <form
        [formGroup]="myForm"
        [ngStyle]="{ display: submit ? 'none' : 'flex' }"
      >
        <mat-form-field>
          <input
            matInput
            formControlName="email"
            placeholder="Type in your Email"
            (change)="onChange()"
            autocomplete
          />
          <mat-error> Your Email Doesnt Look Right </mat-error>
        </mat-form-field>
      </form>

      <button
        (click)="onSubmit()"
        [ngStyle]="{
          display:
            disabled || submit || email.invalid
              ? 'none'
              : disabled === false
              ? 'flex'
              : disabled || submit
              ? 'none'
              : none
        }"
        type="submit"
      >
        Submit
      </button>
    </div>
    <h2 [ngStyle]="{ display: submit ? 'flex' : 'none' }" id="sent">
      Email Will Be Sent to: <br />
      <span>{{ myForm.value.email }}</span>
    </h2>
  </div>
</div>
