.Hero {
  height: 80vh;
  background: url(./hero.svg) no-repeat center center / cover;
  display: flex;

  .heroText {
    width: 55vw;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 70px;
    }
    h3 {
      font-size: 40px;
      margin-top: 0;
    }

    h5 {
      padding: 15px 20px;
      border-radius: 35px;
      background: #1de687;
      font-size: 20px;
      cursor: pointer;
    }
  }

  .heroSvg {
    height: 700px;
    width: 750px;
    background: url(./calc.svg) no-repeat center center / cover;
    transform: translateY(150px);
  }
}
