.Hero {
  height: 100vh;
  background: url(./about.svg) no-repeat center center / cover;
  display: flex;
  align-items: center;

  .text {
    width: 40%;
    padding-left: 5vw;

    h1 {
      color: #fff;
      font-weight: 400;
      font-size: 60px;
      margin-bottom: 10px;
    }

    p {
      font-weight: 300;
      color: #fff;
      line-height: 2;
    }
  }

  .svgCont {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .svg {
    background: url("./friends.svg") no-repeat center center / cover;
    width: 625px;
    height: 460px;
  }
}

@media screen and (max-width: 1192px) {
}

@media screen and (max-width: 992px) {
  .Hero {
    background: url(./about.svg) no-repeat 0% center / cover;
  }
}
@media screen and (max-width: 768px) {
  .Hero {
    background: linear-gradient(#2f71d5, #00c3eb);
    flex-direction: column;
    .text {
      width: 70%;
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
}
@media screen and (max-width: 600px) {
  .Hero {
    .svgCont {
      width: 80%;
    }
  }
}

@media screen and (max-width: 1023px) and (orientation: landscape) {
  .Hero {
    background: linear-gradient(#2f71d5, #00c3eb);
    flex-direction: row;
    .text {
      padding-left: 2vw;
      h1 {
        font-size: 40px;
      }
      p {
        font-size: 14px;
      }
    }

    .svgCont {
      display: flex;
      width: 45%;

      .svg {
        width: 625px;
        height: 300px;
      }
    }
  }
}

@media screen and (max-width: 1025px) and (min-width: 1024px) and (orientation: landscape) {
  .Hero {
    background: url(./landscape.svg) no-repeat center center / cover;
  }
}
