<div class="Services">
  <div class="servicesContainer">
    <div
      class="service"
      *ngFor="let service of services"
      [ngClass]="{ middle: service.id === 1 }"
    >
      <div class="serviceIcon">
        <i class="material-icons">{{ service.icon }}</i>
      </div>
      <div class="serviceText">
        <h4>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum error
          voluptatibus consectetur, a soluta atque eaque pariatur, totam eveniet
          iste culpa illum alias corporis at exercitationem eligendi? A, autem
          repudiandae!
        </h4>
      </div>
    </div>
  </div>
</div>
