<nav [ngStyle]="{ background: url === '/about' ? '#2384d7' : '#00c3eb' }">
  <div class="logoContainer">
    <div
      class="logo"
      [routerLink]="['/']"
      routerLinkActive="router-link-active"
    ></div>
  </div>
  <div class="Navigation">
    <h4
      *ngFor="let nav of navs"
      [ngClass]="{ nav: nav.normal, contact: nav.normal === false }"
      routerLink="/{{ nav.link }}"
    >
      {{ nav.text }}
    </h4>
  </div>

  <div class="burger">
    <div class="burgerContainer" (click)="onBurger()">
      <div
        class="line line1"
        [ngStyle]="{
          transform: burger ? 'rotate(45deg)' : 'none',
          background: burger ? '#fff' : '#333'
        }"
      ></div>
      <div
        class="line line2"
        [ngStyle]="{ display: burger ? 'none' : 'flex' }"
      ></div>
      <div
        class="line line3"
        [ngStyle]="{
          transform: burger ? 'rotate(-45deg) translate(5px, -3px)' : 'none',
          background: burger ? '#fff' : '#333'
        }"
      ></div>
    </div>

    <div
      class="Navigation"
      [ngStyle]="{
        display: burger ? 'flex' : 'none'
      }"
    >
      <div class="logo" routerLink="/"></div>
      <h4
        *ngFor="let nav of navs"
        class="burgerLinks"
        routerLink="/{{ nav.link }}"
      >
        {{ nav.text }}
      </h4>
    </div>
  </div>
</nav>
