<div class="Services">
  <div class="servicesContainer">
    <div class="service">
      <div class="serviceIcon">
        <i class="material-icons">monetization_on</i>
      </div>
      <div class="serviceText">
        <h4>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum error
          voluptatibus consectetur, a soluta atque eaque pariatur, totam eveniet
          iste culpa illum alias corporis at exercitationem eligendi? A, autem
          repudiandae!
        </h4>
      </div>
    </div>
    <div class="service" id="middle">
      <div class="serviceIcon"><i class="material-icons">grade</i></div>
      <div class="serviceText">
        <h4>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum error
          voluptatibus consectetur, a soluta atque eaque pariatur, totam eveniet
          iste culpa illum alias corporis at exercitationem eligendi? A, autem
          repudiandae!
        </h4>
      </div>
    </div>
    <div class="service">
      <div class="serviceIcon"><i class="material-icons">headset_mic </i></div>
      <div class="serviceText">
        <h4>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum error
          voluptatibus consectetur, a soluta atque eaque pariatur, totam eveniet
          iste culpa illum alias corporis at exercitationem eligendi? A, autem
          repudiandae!
        </h4>
      </div>
    </div>
  </div>
</div>
